
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<div>
    <h1>Login </h1>


    <form action="Index" method="post">
        <fieldset>
            <label>Enter Your User Name: <input type="text" name="username" required /></label>

            <label>Enter Your Password: <input type="password" name="password" required /></label>
        </fieldset>

        <input type="submit" value="Login" />
    </form>
</div>